.header {
  display: block;
  width: 100%;
  height: 105px;
  /*border-style: solid;*/
  /*border-color: red;*/
}
.nav {
  position: absolute;
  left: 40%;
}

.main {
  width: 100%;
  /*background-color: red;*/
  display: block;
  text-align: center;
}
.main h1 {
  font-size: 5em;
  /*padding: 50px auto 1em auto;*/
  margin: 1em;
}

.main h2 {
  font-size: 2em;
  padding: 1em auto 1em auto;
  margin: 0.5em;
}

.buttons-section {
  margin-top: 10px;
  /*border-style: solid;
  border-color: red;*/
  height: 21em;
  width: 100%;
  text-align: center;
  display: block;
}
.indi-butts {
  height: 12em;
  width: 12em;
  display: inline-block;
  border-style: solid;
  /*border-color: red;*/
  border-radius: 50%;
  margin: 20px 20px 20 20px;
}

#need, #want, #supply {
  /*position: absolute;*/
  margin: 0;
  padding: 0;
  font-size: 2em;
}

/*#need {
  left: 9.2em;
  top: 18em;
}

#want {
  left: 22.5em;
  top: 18em;
}

#supply {
  left: 35.2em;
  top: 17em;
}*/
